# Python Distribution Package Requirements for RSUV3.
# Contains non-essential modules, such as those for linting & syntax checking.
#
# Source:: https://github.com/ampledata/rsuv3
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2017 Greg Albrecht
# License:: Apache License, Version 2.0


flake8
pylint
twine
